@import '~@avanade/theme/styles/theming';
@import '~@avanade/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, go-orange);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,
), go-orange, go-orange);
